body {
    font-family: "Sora", sans-serif;

}

div.container {
    border-radius: 12px;
}

h1 {
    font-weight: 900;
    background-image: url('https://64.media.tumblr.com/fa143cffbc3bfb0183302cdad6aa5238/tumblr_pq229bewd61uzwgsuo1_400.gif');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.column {
    min-height: 300px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
}

.task {
    background-color: #e9e9e9;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-text {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-right: 10px;
}
.task.completed {
    cursor: default;
    opacity: 0.6;
}

.edit-btn {
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
    margin-left: 10px;
    flex-shrink: 0;
}
.edit-btn:hover {
    color: #0056b3;
}

.delete-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.delete-btn {
    cursor: pointer;
    color: #6b778c;
    font-weight: bold;
    margin-left: 10px;
    float: right;
    flex-shrink: 0;
}
.delete-btn:hover {
    color: #de350b;
}
